/*WINDOW MODE*/
body {
background-color: #845ec2;
font-family: 'Roboto Mono', monospace;
}

h1 {
color: white;
font-family: 'Roboto Mono', monospace;
font-size: 4rem;
}

.flexbox {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
}



img {
width: 240px;
height: 150px;
display: inline;
}

.content-wrapper {
position: relative;
margin: 50px 138px;
left: -130px;
top:180px;
}

.image {
border: 3px solid black;
display: inline;
}

.overlay {
border: 3px solid #ffc75f;
position: absolute;
top: 0;
left: 0;
width:240px;
height: 150px;
background: rgba(0, 0, 0, 0.6);
color: #ffff;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
opacity: 0;
transition: opacity 0.3s ease;
}

.overlay > .image_title {
transform: translateY(20px);
transition: transform 0.3s ease;
}

.overlay:hover{
opacity: 1;
}

.overlay:hover > .image_title {
transform: translateY(0);
}

.image_title {
font-size: 2.5rem;
font-weight: bold;
color:#b8b5ff;
font-family: 'Crimson Text', serif;
}

a {
display: inline-block;
}

.border-text {
    font-size: 1.5rem;
    font-family: 'DotGothic16', sans-serif;
    border: 3px dashed #f9f871;
    width: 40%;
    float: right;
    text-align: left;
    margin-top: -400px;
    padding-left: 20px;
}

@media all and (max-width:500px) {
    h1 {
        font-size: 1.5rem;
        padding-top: 50px;
    }
    
}

