body {
background-color: #845ec2;
font-family: 'Roboto Mono', monospace;
}

h1 {
color: white;
font-family: 'Roboto Mono', monospace;
font-size: 4rem;
}

.flexbox {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
}



img {
width: 200px;
height: 150px;
display: inline;
}

.content-wrapper {
position: relative;
margin: 50px 150px;
left: -150px;
top:180px;
align-items: center;
}

.image {
display: inline; 
}

.overlay {
position: absolute;
top: 0;
left: 0;
width:200px;
height: 150px;
background: rgba(0, 0, 0, 0.6);
color: #ffff;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
opacity: 0;
transition: opacity 0.3s ease;
}

.overlay > .image_title {
transform: translateY(20px);
transition: transform 0.3s ease;
}

.overlay:hover{
opacity: 1;
}

.overlay:hover > .image_title {
transform: translateY(0);
}

.image_title {
font-size: 2.5rem;
font-weight: bold;
color:#b8b5ff;
font-family: 'Crimson Text', serif;
}

a {
display: inline-block;
}
